<ion-view view-title="Home" hide-nav-bar="true" class="bgGris">
  <ion-header-bar align-title="left" class="bar-positive">
    <h1 class="title">
      WANNABE
    </h1>
    <div class="buttons">
      <button class="button icon ion-mic-c button-assertive btnGrabar"> ¿Algo para decir? </button>
    </div>
  </ion-header-bar>

  <ion-content><!-- padding-->
    <ion-refresher pulling-text="Desliza para actualizar..." on-refresh="refreshHome()"></ion-refresher>

    <!-- información real-->

    <!-- con foto -->
    <div class="row noPadding panelPubMain bgBlanco" ng-repeat="pubHome in pubHomeArray">
       <div class="col noPadding">

          <div class="row noPadding panelPub">
              <div class="col noPadding bgCover col-center" style="/*background:url({{pubHome.img}}) no-repeat center center;-webkit-background-size: cover;-moz-background-size: cover;-o-background-size: cover;background-size: cover;*/" >
                  
                  <div class="row noPadding">
                      <div class="col col-67 colTrans">
                          <div class="row noPadding">
                            <div class="col col-20 ">
                              <img src="{{pubHome.perf}}" width="100%" class="fotoPerfilThumb" />
                            </div>
                            <div class="col col-80 noPadding">
                              <h4><strong>{{pubHome.nombre}}</strong></h4>
                              <h6>
                                <span class="staticsW firstStatic">Hace 2 Mins</span>
                              </h6>
                            </div>
                          </div>
                      </div>
                      <div class="col col-33 colTrans ">
                          <center>
                            <button ng-if="pubHome.audio !='' && idActual != pubHome.id" class="button ion-play btn-escuchar" ng-click="play(pubHome.audio,pubHome.id)"> Escuchar <span class="text-mini">({{pubHome.tiempo}})</span></button>

                            <button ng-if="pubHome.audio !='' && idActual == pubHome.id" class="button ion-stop btn-escuchar" ng-click="parar()"> Detener <span class="text-mini"></span></button>
                          </center>
                      </div>
                  </div>  
              </div>
          </div>

          <div class="row">
            <div class="col">
              <img ng-if="pubHome.img != ''" src="{{pubHome.img}}" width="100%" />
              <p class="textPub">
                {{pubHome.text}}
              </p>
              <div class="floatLeft">
                  <img src="img/farez.jpg" width="8%" class="fotoPerfilThumb" />
                  <img src="img/adam.jpg" width="8%" class="fotoPerfilThumb" />
                  <img src="img/ben.png" width="8%" class="fotoPerfilThumb" />
              </div>
            </div>
          </div>

          <div class="row noPadding">
            <div class="col noPadding">
                <div class="button-bar bar-light">
                  <a class="button btn button-light ion-alert">&nbsp; <span class="badge badge-small badge-stable">{{pubHome.int}}</span></a>
                  <a class="button btn button-light ion-ios-chatbubble">&nbsp; <span class="badge badge-small badge-stable">{{pubHome.com}}</span></a>
                  <a class="button btn button-light ion-android-share-alt"></a>
                  <a class="button btn button-light ion-ios-more"></a>
                  <!--<a class="button btn button-small ion-more"></a>-->
                </div>
            </div>
          </div> 

       </div>
    </div>

    <ion-infinite-scroll on-infinite="refreshHomeBottom()" distance="1%"></ion-infinite-scroll>

  </ion-content>
</ion-view>
