/* Empty. Add your own CSS if you like */
.noPadding{padding: 0}
.imgPub{width: 100%;height:auto;}
.bgGris{background: #f8f8f8}
.bgBlanco{background: #fff}
/*Modifico la barra superior*/
.bar.bar-positive 
{
    border-color: #3796C3;
    background-color: #3796C3;
    color: #fff; 
    border:1px solid #3796C3;
    box-shadow:none;
}
.bar.bar-positive .title 
{
    color: #fff; 
}
.bar.bar-positive.bar-footer 
{
    /*background-image: linear-gradient(180deg, #0c60ee, #0c60ee 50%, transparent 50%); */
}
.panelPubMain{margin:0 0 8% 0;box-shadow:0px 0px 5px #E3E3E3;}
.panelPub h4{color:#444;margin-bottom:0;}
.panelPub h6{font-weight: normal;padding: 0;margin: 0;color:#444;}
.panelPub .colTrans{/*background: url(../img/trans.png)*/}
.btn-escuchar{color:#EF473A;background: transparent;padding: 0;margin:5% 0;}
.btn-escuchar:hover{color:#EF473A;background: transparent;padding: 0;margin:5% 0;}
.btn-escuchar:active{color:#EF473A;background: transparent;padding: 0;margin:5% 0;}
.staticsW{color:#444;}
.firstStatic{margin:0 5% 0 0;}
.textPub{color:#7d7c7c;text-align: justify;margin:3% 0;font-size:1.2em;}
.btnInteract{padding:0;background: transparent;}
.fotoPerfilThumb{border-radius:50%;}
.text-mini{font-size:0.5em;}
.badge-small{font-size: 0.8em}
.btn{border-radius:0 !important;}
.marginTextAlgo{margin:3% 3% 0 0;width: auto}
.btnGrabar{border-radius:3px;animation:7s latido infinite;}
@keyframes latido{
   0%{transform:scale(1)}
   47%{transform:scale(1)}
   48%{transform:scale(.9)}
   50%{transform:scale(1.1)}
   52%{transform:scale(.9)}
   54%{transform:scale(1)}
}